// Primary Colors
$primary-red: hsl(1, 90%, 64%);
$primary-blue: hsl(219, 85%, 26%);

// Neutral Colors
$white: hsl(0, 0%, 100%);
$very-light-gray: hsl(210, 60%, 98%);
$light-gray-1: hsl(211, 68%, 94%);
$light-gray-2: hsl(205, 33%, 90%);
$grayish-blue: hsl(219, 14%, 63%);
$dark-grayish-blue: hsl(219, 12%, 42%);
$very-dark-blue: hsl(224, 21%, 14%);
